* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Avenir Next", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(254, 254, 254);
}

#library {
  display: flex;
  flex-direction: column;
  width: min(90%, 68.15ch);
}

#header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.bookAddBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: 1.5px solid transparent;
  margin-right: 10px;
  position: fixed;
  cursor: pointer;
  transition: border 0.6s ease;
}

.bookAddBtn:hover {
  border-color: gray;
  transform: scale(1.13);
}

.bookAddBtn img {
  height: 30px;
}

#bookShelf {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.book {
  background-color: lightcoral;
  height: calc(8.5rem * 1.5);
  min-width: calc(5.5rem * 1.5);
  border: 2px solid transparent;
  cursor: pointer;
  transition: border 0.6s ease;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.book:hover {
  scale: 1.03;
  border-color: rgb(41, 41, 41);
}

.bookInfoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background: hsla(0, 0%, 44%, 0.51);
  border: none;
  border-radius: 50px;
  margin: 5px 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.book:hover .bookInfoBtn {
  visibility: visible;
  opacity: 1;
}

.bookInfoImg {
  height: 115%;
}

.bookInfoDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bookInfoForm {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookInfoForm input[type="text"],
.bookInfoForm input[type="number"] {
  width: 400px;
  margin-bottom: 10px;
}

.readStatusDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bookInfoFormSubmitBtn {
  margin-top: 10px;
  width: 70px;
  align-self: center;
}
